
/* 
    Created on : 2015-aug-23, 21:46:08
    Author     : johanwendt
*/
.root {
     -fx-background-image: url("test.jpg");
}
#RPane, #MBar {
    -fx-background-image: url("test.jpg");
}
.menu {
    -fx-font-size: 10px;
    -fx-font-weight: bold;
}
.menu:showing .context-menu {
    -fx-font-size: 17px;
}